<div class="left-button">
  <%= link_to "User一覧に戻る", users_path, class: 'edit-link' %>
</div>
<% @entries.each do |e| %>
  <div class="user-name">
    <% unless e.user_id == current_user.id %>
    <h2><%= e.user.name %>さんとのチャット</h2>
    <% end %>
  </div>
<% end %>

  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= image_tag m.user.get_profile_image(50,50) %>
            <%= m.user.name %>
          </div>
          <div class="chat-hukidashi">
            <strong><%= m.content %></strong><br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="post">
    <%= form_with model: @message do |f| %>
      <%= f.text_field :content, size: 70, class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "投稿", class: 'form-submit'%>
    <% end %>
  </div>